<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body{
            background: url("../../../images/4.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -o-background-size: cover;
        }
        .atext {
            color: black;
            font-weight: bolder;
            font-size: larger;
        }
    </style>
    <title>检索结果</title>
</head>
<body>
<table>
    <!--可以做一个顶部栏，显示该系统的相关信息 -->
    <div class="container" style="margin-left: 90px">
        <div class="row">
            <div class="navbar navbar-default">
                <div style="margin: 0 auto; text-align: center; line-height: 100px">
                    <a href="#" style="font-size: 50px; color: red">课程信息</a>
                </div>
            </div>
        </div>
    </div>
    <!--页面主体 -->
    <div class="container" id="content">
        <!--可以做一个侧边栏 导航至各个功能组件 -->
        <div class="row">
            <div class="col-md-10">
                <!--列表主体 -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>先修课</th>
                        <th>学分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course: ${list}">
                        <td th:text="${course.Cno}"></td>
                        <td th:text="${course.Cname}"></td>
                        <td th:text="${course.Cpno}"></td>
                        <td th:text="${course.Ccredit}"></td>
                        <td>
                            <a th:href="@{'/student/update/'+${course.Cno}}">选课</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--相关操作的列表：增删改-->
    </div>

</table>
</body>
</html>